<!DOCTYPE HTML>

<html>

<head>
	<title>Voting Portal </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<style>
<input id="file" name="file" type="file" style="
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.5em;
    letter-spacing: 0.25em;
    line-height: 3.5em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
">
</style>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Contact -->
		<section id="contact">
			<div class="inner">
				<section>
                    <form method="post" enctype="multipart/form-data">
                                    {{form.hidden_tag()}}
                                    {{form.file()}}
                                    {{form.submit()}}
                    </form>
                    </body>

							

				</section>
				<section class="split">
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-envelope"></span>
							<h3>Email</h3>
							<a href="mailto:placementcell@iitb.ac.in">placementcell@iitb.ac.in</a>
						</div>
					</section>
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-phone"></span>
							<h3>Phone</h3>
							<span>+91 (22) 2576 8099</span>
						</div>
					</section>
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-home"></span>
							<h3>Address</h3>
							<a>Main Gate Rd, IIT Area,<br> Powai, Mumbai, Maharashtra 400076</a>
						</div>
					</section>
				</section>
			</div>
		</section>


		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="icons">
					<li><a href="https://twitter.com/ta_run__07" class="icon brands alt fa-twitter"><span
								class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://github.com/tarunsai-07" class="icon brands alt fa-github"><span
								class="label">GitHub</span></a></li>
					<li><a href="https://www.linkedin.com/in/tarun-%E2%80%8E-73036a194/"
							class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Tarun</li>
				</ul>
			</div>
		</footer>

	</div>


</body>

</html>